html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: white;
    color: black;
}

header{
    background-color: rgb(247, 246, 246);
}

.rotate{
    position: relative;
    width: 41px;
    height: 41px;
}

h1{
    text-align: center;
}

.img{
    padding-top: 4px;
}

footer{
    padding-left: 250px;
}

.rotate:hover{
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

#icon {
    width: 30px;
    cursor: pointer;
}