html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/* body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, grey);
    background-repeat: no-repeat;
} */

.rotate{
    width: 120px;
    height: 120px;
}

.rotate{
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
